## Discussion #3

Files needed = None

OH: Mondays and Wednesdays 9:15-10:15am in 6473 Sewell Social Sciences

Email: minnie.cui@wisc.edu

**Reminder: coding practice #1 solutions will be released tonight!**

### This week we saw:
- Slicing (covered last week)
- Functions
- Packages
- Pandas

## Functions

We've seen some built-in functions in Python, like `len`, `range`, `str.lower()`, and others. But, we can write our own functions too. There are inputs (arguments) and outputs (returns) to every function. The syntax is `def function_name:` and then write your code within using tabs. Notice that some objects only live within the scope of the function. For example, `EULER` will only be within the function; I can't get that value outside of the function. We can pass arguments with keywords rather than ordered and we can set default arguments (e.g., `type_type="seconds"`).

In [4]:
# Continually compounding interest
def compound_interest(present_value, years, r):
    # Get future value
    EULER = 2.71828
    return present_value * EULER**(r * years)

# Call function
future_value = compound_interest(1000, 40, 0.04)
print("My future value is ${0:1,.2f}".format(future_value))

My future value is $4,953.03

In [7]:

def compound_interest(present_value, years, r):
    # Get future value
    EULER = 2.71828
    c = present_value * EULER**(r * years)
    return c
    

future_value = compound_interest(1000, 40, 0.04)
print("My future value is ${0:1,.2f}".format(future_value))

My future value is $4,953.03

In [8]:
# Can we write a function that takes a seconds and converts them to hours or hours and converts them to seconds?
# Hint: two arguments, one numeric and one to indicate a type, followed by a comparison

# Values
seconds = 8345
hours = 18

def convert_time(time, time_type):
    if time_type == "seconds":
        return time / (60 * 60)
    elif time_type == "hours":
        return time * (60 * 60)
    else:
        return "I don't know what to return"

print(convert_time(seconds, "seconds"))
print(convert_time(hours, "hours"))
print(convert_time(seconds, "days"))

2.3180555555555555
64800
I don't know what to return

In [1]:
# Values
seconds = 8345

# Function definition
def convert_time(time, time_type="seconds"):
    if time_type == "seconds":
        return time / (60 * 60)
    elif time_type == "hours":
        return time * (60 * 60)
    else:
        return "I don't know what to return"

print(convert_time(time=seconds, time_type="seconds"))
print(convert_time(seconds, time_type="seconds"))
print(convert_time(time_type="seconds", time=seconds))
print(convert_time(time=seconds))

# Bonus: what does this do? 
print(convert_time(2.3180555555555555, "hours"))

# This converts 2.3180555555555555 hours into seconds!

2.3180555555555555
2.3180555555555555
2.3180555555555555
2.3180555555555555

## Packages: Pandas

There are lots of useful tools built in Python that are wrapped in nicely in *packages*. Once we install packages, we have access to all of their functions and interfaces. Every time we want to use a package, we have to `import` it. We saw some stuff with `pandas` this week, which is an amazing package for all of our data analysis.

`pandas` stores data in `DataFrame` or `Series`. You can think of it as a kind of table or spreadsheet (a `Series` is a one-dimensional `DataFrame`). Some useful attributes include `shape`, `columns`, and `index`. We can access particular columns and rows just like before with slicing (or names!). We can change the index and delete observations.

`pandas` has great [documentation](https://pandas.pydata.org/docs/). There are lots of different functions that you can use.

In [9]:
# Import libraries
import pandas as pd

# Generate data
state_data = {'state':['CA','MI','WI','MN'], 
              'pop':[37,9.8,5.7, '5.3'], 
              'size':[163.7, 96.7, 65.5, 86.9], 
              'bird':['Quail', 'Redbreast Robin', 'American Robin', 'Loon']
             }
state_data = pd.DataFrame(state_data)

# Try out some functions
print("Shape is:", state_data.shape)
print("Index is:", state_data.index.to_list())
print("Columns are:", state_data.columns.to_list())

Shape is: (4, 4)
Index is: [0, 1, 2, 3]
Columns are: ['state', 'pop', 'size', 'bird']

In [14]:
# Accessing rows and columns
print(state_data.bird)
print(state_data['bird'])
print(state_data.iloc[1,3])

# Filtering
print(state_data[state_data['bird'] == "Loon"])
print("")
print(state_data[(state_data['state'] == "WI") | (state_data['bird'] == 'Quail')])

  state  pop   size             bird
0    CA   37  163.7            Quail
1    MI  9.8   96.7  Redbreast Robin
2    WI  5.7   65.5   American Robin
3    MN  5.3   86.9             Loon

  state  pop  size  bird
3    MN  5.3  86.9  Loon

  state  pop   size            bird
0    CA   37  163.7           Quail
2    WI  5.7   65.5  American Robin

In [15]:
state_data[(state_data.state == 'WI') & (state_data.bird == 'Quail')]

state_data

  state  pop   size             bird
0    CA   37  163.7            Quail
1    MI  9.8   96.7  Redbreast Robin
2    WI  5.7   65.5   American Robin
3    MN  5.3   86.9             Loon

In [19]:
# Re-indexing (note the inplace argument)
state_data.set_index('state', inplace=True)
print(state_data)
print(state_data.loc['CA'])
state_data.reset_index(inplace=True)
print(state_data)

       pop   size             bird
state
CA      37  163.7            Quail
MI     9.8   96.7  Redbreast Robin
WI     5.7   65.5   American Robin
MN     5.3   86.9             Loon
pop        37
size    163.7
bird    Quail
Name: CA, dtype: object
  state  pop   size             bird
0    CA   37  163.7            Quail
1    MI  9.8   96.7  Redbreast Robin
2    WI  5.7   65.5   American Robin
3    MN  5.3   86.9             Loon

In [22]:
print(state_data.loc['CA'])
state_data.reset_index(inplace=True)
print(state_data)

KeyError: 'CA'

In [29]:
# Re-naming
state_data.rename(columns={'size' : 'new_size'}, inplace=True)
print("New names:", state_data.columns.to_list())
state_data.rename(columns={'new_size' : 'size'}, inplace=True)
print("New names:", state_data.columns.to_list())

# Dropping observations (note the axis argument)
print(state_data)
print("")
print(state_data.drop('size', axis=1))
print("")

print(state_data.drop(3, axis=0))

New names: ['state', 'pop', 'new_size', 'bird']
New names: ['state', 'pop', 'size', 'bird']
  state  pop   size             bird
0    CA   37  163.7            Quail
1    MI  9.8   96.7  Redbreast Robin
2    WI  5.7   65.5   American Robin
3    MN  5.3   86.9             Loon

  state  pop             bird
0    CA   37            Quail
1    MI  9.8  Redbreast Robin
2    WI  5.7   American Robin
3    MN  5.3             Loon

  state  pop   size             bird
0    CA   37  163.7            Quail
1    MI  9.8   96.7  Redbreast Robin
2    WI  5.7   65.5   American Robin

In [21]:
# Import dataset
import pandas as pd
import seaborn as sns
iris = sns.load_dataset('iris')
print(iris.head())
print("")

# Can we drop the petal width column?
print(iris.drop('petal_width', axis=1).head())
print("")

# Can we create an index by species? Can we reset it?
iris.set_index('species', inplace=True)
print(iris.head())
iris.reset_index(inplace=True)
print("")

# Can we select rows with sepal length >5? What about virginica with sepal length >5?
iris = iris[iris.sepal_length > 5]
iris.reset_index(inplace=True)
print(iris.head())
iris = iris.drop('index', axis=1)
print(iris.head())

# iris = iris[(iris.sepal_length > 5) & (iris.species == 'virginica')]
# print(iris.tail(1))

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

   sepal_length  sepal_width  petal_length species
0           5.1          3.5           1.4  setosa
1           4.9          3.0           1.4  setosa
2           4.7          3.2           1.3  setosa
3           4.6          3.1           1.5  setosa
4           5.0          3.6           1.4  setosa

         sepal_length  sepal_width  petal_length  petal_width
species
setosa            5.1          3.5           1.4          0.2
setosa            4.9          3.0           1.4          0.2
setosa            4.7          3.2           1.3          0.2
setosa            4.6          3.1           1.5          0.2
setosa            5.0          3.6           1.4          0.2

   index species  sepal_length  sepal_width  petal_length  petal_width
0      0  setosa           5.1          3.5           1.4          0.2
1      5  setosa           5.4          3.9           1.7          0.4
2     10  setosa           5.4          3.7           1.5          0.2
3     14  setosa           5.8          4.0           1.2          0.2
4     15  setosa           5.7          4.4           1.5          0.4
  species  sepal_length  sepal_width  petal_length  petal_width
0  setosa           5.1          3.5           1.4          0.2
1  setosa           5.4          3.9           1.7          0.4
2  setosa           5.4          3.7           1.5          0.2
3  setosa           5.8          4.0           1.2          0.2
4  setosa           5.7          4.4           1.5          0.4

### Have a great weekend!