# Coding practice \#2

files needed = (`banks_and_branches.csv`, `nhe.csv`)

Answer the questions below in a Jupyter notebook. You can modify this notebook by adding cells with your answers. It is recommended to try it on your own to practice the material in advance the exams.

In [153]:
# Load packages needed
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

## Exercise 0: Last, First
Replace 'Last, First' above with your actual name. Enter it as your last name, first name.

## Exercise 1: Subsets
Let's practice pulling subsets out of a DataFrame. We subset a lot. Our goal is to build some muscle memory, so that every time we need to subset the data, we do not need to go look up how to do it. 

To this end, first try the exercises below without consulting your notes or the internet. Identify where you need to improve and keep practicing! 

### Part (a):
Create a DataFrame from the following dict: 

```python
data_dict = {'animal':['koala', 'emu', 'platypus', 'kangaroo', 'capybara', 'frilled lizard'],
             'order': ['Diprotodontia', 'Struthioniformes', 'Monotremata', 'Diprotodontia', 'Rodentia', 'Squamata'],
             'class': ['Mammalia', ' Casuariiformes', 'Mammalia', 'Mammalia', 'Mammalia', 'Reptilia'],
             'weight':[21, 86, 3.4, 62.5, 111.5, 1.3],
            }
```

### Part (b): 
Create and print a DataFrame that includes all the information in the DataFrame from part (a), but also includes a column containing your own subjective ranking of how weird the animal is. This variable should have a minimum of 1 and a maximum of 6, with 1 indicating the weirdest animal and 6 the least weird, and there can be no ties.

In [62]:
import pandas as pd
data_dict = {'animal':['koala', 'emu', 'platypus', 'kangaroo', 'capybara', 'frilled lizard'],
             'order': ['Diprotodontia', 'Struthioniformes', 'Monotremata', 'Diprotodontia', 'Rodentia', 'Squamata'],
             'class': ['Mammalia', ' Casuariiformes', 'Mammalia', 'Mammalia', 'Mammalia', 'Reptilia'],
             'weight':[21, 86, 3.4, 62.5, 111.5, 1.3],
            }

df = pd.DataFrame(data_dict)

df['ranking'] = [1,2,3,4,5,6]

df

           animal             order            class  weight  ranking
0           koala     Diprotodontia         Mammalia    21.0        1
1             emu  Struthioniformes   Casuariiformes    86.0        2
2        platypus       Monotremata         Mammalia     3.4        3
3        kangaroo     Diprotodontia         Mammalia    62.5        4
4        capybara          Rodentia         Mammalia   111.5        5
5  frilled lizard          Squamata         Reptilia     1.3        6

### Part (c):
Print a Series containing the names of only the three weirdest non-reptiles (reptiles are class *Reptilia*), without directly referring to the animals by name or ``order``. Recall the `.sort_values` method. Using a markdown cell, explain what the numbers to the left of the animal names represent.

In [145]:
# TA Code
#Subset of non-reptiles, ranked by weirdness 
animals_nr = data_df[(data_df['class'] != 'Reptilia')].sort_values('weirdness')

# Select the three weirdest non-reptiles names
animals_nr.head(3)

KeyError: 'weirdness'

In [59]:
df_c = df[(df['class'] != 'Reptilia')].sort_values('ranking')
df_c.head(3)['animal']

     animal             order            class  weight  ranking
0     koala     Diprotodontia         Mammalia    21.0        1
1       emu  Struthioniformes   Casuariiformes    86.0        2
2  platypus       Monotremata         Mammalia     3.4        3

### Part (d): 
Set the index of the DataFrame to `animal`. Then print the subset of the DataFrame containing only frilled lizards, koalas, and platypuses.

In [69]:
#df1 = df.loc[['frilled', 'lizards', 'koalas', 'platypuse']]


newdf = df.set_index(['animal'])
print(newdf)

newdf.loc[['frilled lizard', 'koala', 'platypus']]

                           order            class  weight  ranking
animal
koala              Diprotodontia         Mammalia    21.0        1
emu             Struthioniformes   Casuariiformes    86.0        2
platypus             Monotremata         Mammalia     3.4        3
kangaroo           Diprotodontia         Mammalia    62.5        4
capybara                Rodentia         Mammalia   111.5        5
frilled lizard          Squamata         Reptilia     1.3        6

                        order     class  weight  ranking
animal
frilled lizard       Squamata  Reptilia     1.3        6
koala           Diprotodontia  Mammalia    21.0        1
platypus          Monotremata  Mammalia     3.4        3

### Part (e): 
Using the DataFrame from part (b), print out the average weirdness for mammals (class *Mammalia*) between 10 and 100 pounds.

In [89]:
e = df[df['class'] == 'Mammalia']

e[(e['weight'] > 10) & (e['weight'] < 100)]['ranking'].mean()

2.5

### Part (f):
Using the DataFrame from part (b), print out the number of animals with weight above 4 pounds, filling in the XX the sentence "There are XX animals in my DataFrame weighing above four pounds."

### Part (g):
Using the DataFrame from part (b), write code to determine whether the three *least weird* animals in your DataFrame weigh more or less than the average animal in the full dataset. Print one sentence clearly stating the results of this comparison.

## Exercise 2: Importing data

The file `banks_and_branches.csv` (on the course website for download) contains data on the number of commercial banking institutions, branches, and offices in the United States at the end of each year between 1934 and 2017. 

\[The data are from Table CB01, which is maintained by the Federal Deposit Insurance Corporation (FDIC).  FDIC data can be downloaded from [here](https://www.fdic.gov/open/datatools.html). You are encouraged to browse around their website to see what's there &mdash; this might be a useful source for your final project.\]

Your task is to import this data into Python and get it into good shape. 

### Part (a):
Import the data from `banks_and_branches.csv` into a pandas DataFrame called `banking_data`. If you open the .csv file in Excel or a similar program, you'll notice that there are notes in several of the cells at the beginning of the file. Write code that deletes those extraneous notes. This code should appear within the command you use to open the file.

In [142]:
banking_data = pd.read_csv("banks_and_branches.csv", header = 6)
banking_data

    Year Institutions Branches Offices
0   2017        4,918   79,163  84,081
1   2016        5,112   80,089  85,201
2   2015        5,340   81,541  86,881
3   2014        5,607   81,990  87,597
4   2013        5,847   82,735  88,582
..   ...          ...      ...     ...
79  1938       13,661    3,412  17,073
80  1937       13,797    3,381  17,178
81  1936       13,973    3,261  17,234
82  1935       14,125    3,112  17,237
83  1934       14,146        0  14,146

[84 rows x 4 columns]

### Part (b):
1. Sort the data in ascending chronological order. Print the first and last dates in the data. Set the index to be the year column.
2. Convert each of the column names to upper case using a list comprehension.
3. Delete the `offices` column.
4. Summarize the data in each column. Why does this look different from the usual `.describe` output? Print your answer in a markdown cell.

In [144]:
# Part 1
banking_data.sort_values('Year', inplace=True)
print('The first year is {0:.0f} and the last year is {1:.0f}.'.format(banking_data.head(1)['Year'].mean(), banking_data.tail(1)['Year'].mean()))
banking_data.set_index('Year', inplace=True)

# Part 2
banking_data.columns = [col.upper() for col in banking_data.columns]

# Part 3
banking_data.drop('OFFICES', axis=1, inplace=True)

# Part 4
banking_data.describe()

The first year is 1934 and the last year is 2017.

       INSTITUTIONS BRANCHES
count            84       84
unique           82       84
top          13,124        0
freq              2        1

In [141]:
banking_data.sort_values('Year', inplace=True)

KeyError: 'Year'

In [138]:
b2 = b1.columns = [col.upper() for col in banking_data.columns]
b2

AttributeError: 'NoneType' object has no attribute 'columns'

In [137]:
b3 = banking_data.drop('OFFICES', axis = 1, inplace = True)
b3

KeyError: "['OFFICES'] not found in axis"

### Part (c):

1. Use a loop to fix the `object` columns so they are of type `integer`. \[Have a look at `str.replace()` and `.astype()`.\]
2. Summarize the data to confirm that they are fixed.
3. Create a new column that calculates the number of branches per institution in each year. What is the average value across years?
4. Save the results in a CSV called `bank_data.csv`. Save it to a subdirectory of your current working directory called `data`.

## Exercise 3
Let's work with some data on health expenditures. The data comes from the [Centers for Medicare and Medicaid Services (CMS)](https://www.cms.gov/research-statistics-data-and-systems/statistics-trends-and-reports/nationalhealthexpenddata/nationalhealthaccountshistorical). The goal is to brush up on our data cleaning skills, compute a few summary statistics, and make a simple visualization. 

### Part (a):
1. The file `nhe.csv` contains a column with the year and the total amount spent on healthcare in billions of dollars in that year. Read it into a DataFrame and create a series of growth rates. Print out the first 10 observations. [Hint: Check out the `pct_change` method.]

In [156]:
nhe = pd.read_csv('nhe.csv')
nhe['growth'] = nhe['nhe'].pct_change()

TypeError: unsupported operand type(s) for /: 'str' and 'str'

2. Something went wrong, right? There is a gremlin in the data. Find a way to use `read_csv()` to turn the bad data into `NaN`s. You may find `read_csv?` helpful. Replace any year that has a `NaN` with the expenditure in the year before. Now compute the growth rates. Print the first 5 years.

### Part (b):
1. Compute the mean growth rate for 1970&ndash;1990, including the endpoints.
2. Compute the standard deviation of the growth rate for 1970&ndash;1990, including the endpoints.
3. Repeat parts 1. and 2. for the period 1990&ndash;2010, including the endpoints.
4. Print out your results in a few *neatly formatted* sentences. Comment on the differences between the two periods.

### Part (c):
Plot a histogram of health expenditure growth rates, with vertical lines at the 1970-1990 mean and the 1990-2010 mean. Make sure to appropriately label the plot, and label the vertical lines to make clear which is which. Please use green for the plot color.

## Exercise 4: Assigning analysts

*Source:* This is a modification of a problem that Google often uses as a coding exam to recruit software engineers.

*Setup:* You are going to lead a team of analysts to summarize the determinants of health spending growth 1960-2019. Each team member will be responsible for a set of consecutive years to generate a report for the Biden administration. It's expensive to hire an analyst: each one receives a base salary of $\$50,000$, plus a bonus of $\$8,000$ per week of work. It is expected that if an analyst is given `Y` years of data to analyze, it will take her $$Y + 0.075*Y^2$$ weeks to complete the project. 

*How to assign years:* Each analyst will receive a "cut" of consecutive years to analyze. For example, if there are 6 team members, each team member will get a decade to analyze: 1960-1969, 1970-1979, 1980-1989, 1990-1999, 2000-2009, and 2010-2019. However, if there are 7 team members, you can't divide the years equally. This means you can't have a team of 7.

*Your task:* You don’t know how many teammates you’ll have, but you’re told there is a total pool of 10 analysts, including you, and you are expected to hire at least 4 of them. Your job is to find the number of analysts that has the lowest cost. For example, if there are 4 team members, each of whom is responsible for 15 years, the total cost is $4 \times (\$50,000 + \$8,000 \times (15 + 0.075 \times 15^2)) = \$1,220,000$. Not bad for a federal project!

You should write code to solve this problem. Here are the steps for the solution:

1. Create a list with the years 1960-2019: `[1960, 1961, …, 2018, 2019]`.

2. For each possible team size from 4-10 analysts, find the largest number of years you can analyze, from 1960-2019, with each analyst getting the same number of years. You should loop over team size possibilities and print out a nicely formatted answer like this: “If there are 6 team members, each team member will analyze 10 years.” If the years cannot be divided evenly, you don't need to print anything.

3. For the subset of team sizes for which you can evenly divide all of the years, calculate the cost of paying the team using the formula above. 

4. What is the cost-minimizing team structure? Use your coding skills and Python functions to keep track of the costs, find the minimum, and print out the optimal team size. Do not do this manually.